<nav id="navbar">
    <a href="{{ "/" | relative_url }}" id="logo-link">
        <img src="{{ "/assets/images/logo_notext.svg" | relative_url }}" alt="🌙" id="logo" class="img-highlight-hover">
        <img src="{{ "/assets/images/logo_text.svg" | relative_url }}" alt="Hollow Moon" id="logo-text" class="img-highlight-hover">
    </a>
    <div id="site-links">
        <a {% if page.active_tab == 'projects' %} class="active"{% endif %} href="#TODO"><div class="link-inner">Projects</div></a>
        <a {% if page.active_tab == 'blog' %} class="active"{% endif %} href="#TODO"><div class="link-inner">Blog</div></a>
        <a {% if page.active_tab == 'about' %} class="active"{% endif %} href="#TODO"><div class="link-inner">About</div></a>
    </div>
    <div id="socials">
        <a href="https://twitter.com/HollowMoonTL"><img src="{{ "assets/images/icons/soc-icon-twt.svg" | relative_url }}" alt="Twitter" class="social-icon"></a>
        <a href="https://discord.gg/2ngdyQd"><img src="{{ "assets/images/icons/soc-icon-discord.svg" | relative_url }}" alt="Discord" class="social-icon"></a>
        <a href="https://github.com/Hollow-Moon"><img src="{{ "assets/images/icons/soc-icon-gh.svg" | relative_url }}" alt="GitHub" class="social-icon"></a>
    </div>
</nav>
<script src="{{ "/assets/script/navbar.js" | relative_url }}"></script>