$shadow: 1px 1px 10px $highlight-primary;
$project-shadow: 1px 1px 3px $highlight-primary;
$shadow-highlight: 1px 1px 10px $highlight-secondary;
$project-shadow-highlight: 1px 1px 3px $highlight-secondary;

.text-highlight {
    color: white;
    text-shadow: $shadow;
    transition: text-shadow ease-in-out 0.15s;

    &:hover {
        text-shadow: $shadow-highlight;
    }
}

.img-highlight-hover {
    transition: filter ease-out 0.25s;

    &:hover {
        filter: drop-shadow($shadow-highlight);
    }
}

.logo-text-hover {
    filter: drop-shadow(0px -1px 2px $highlight-primary) drop-shadow(0px 1px 2px $highlight-primary)
        drop-shadow(0px -1px 1px $highlight-primary) drop-shadow(0px 1px 1px $highlight-primary);

    transition: filter ease-out 0.25s;

    &:hover {
        filter: drop-shadow(0px -1px 3px $highlight-primary) drop-shadow(0px 1px 3px $highlight-primary)
            drop-shadow(0px -1px 1px $highlight-secondary) drop-shadow(0px 1px 1px $highlight-secondary);
    }
}
