@font-face {
    font-family: "XCharter";
    src: url("/assets/fonts/XCharter-Roman.woff2") format("woff2");
}
@font-face {
    font-family: "XCharter";
    src: url("/assets/fonts/XCharter-Bold.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
    font-family: "XCharter";
    src: url("/assets/fonts/XCharter-Italic.woff2") format("woff2");
    font-style: italic;
}
@font-face {
    font-family: "XCharter";
    src: url("/assets/fonts/XCharter-Slanted.woff2") format("woff2");
    font-style: oblique;
}
@font-face {
    font-family: "XCharter";
    src: url("/assets/fonts/XCharter-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "XCharter";
    src: url("/assets/fonts/XCharter-BoldSlanted.woff2") format("woff2");
    font-weight: bold;
    font-style: oblique;
}

@import "effects";

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1366px;

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}
