#post-page {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

nav {
    // Position
    position: sticky;
    top: 0;
    z-index: 1;
    top: -1px; // HACK: For Intersection Observer

    // Style
    background: rgba(255, 255, 255, 0.08);
    color: white;
    transition: background ease-in-out 0.4s, height ease-in-out 0.4s;

    // Layout
    --padding: 3vh;

    width: 100%;
    padding: var(--padding);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    #logo-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vh;

        order: 1;

        #logo-text {
            height: 3.5vh;
        }

        #logo {
            height: 7vmin;
            transition: height ease-in-out .5s;
        }
    }

    #site-links {
        width: 100%;
        order: 3;

        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;

        > a {
            color: white;
            text-decoration: none;
            --link-padding-y: 3vh;
            --link-padding-x: 3vw;
            padding: var(--link-padding-y) var(--link-padding-x);
            margin: calc(-1 * var(--padding)) 0;
            box-sizing: border-box;
            font-size: 1.8rem;
            transition: background ease-in-out 0.3s;

            &:hover {
                background: rgba(255, 255, 255, 0.15);
            }

            > .link-inner {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
            }
        }

        .active:after {
            display: block;
            content: "";
            background: $highlight-secondary;
            height: 3px;
            border-radius: 3px;
            width: calc(100% + 2 * var(--link-padding-x));
            margin-left: calc(-1 * var(--link-padding-x));
            margin-right: calc(-1 * var(--link-padding-x));
            margin-top: calc(var(--padding) - 1px);
        }
    }

    #socials {
        order: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2vw;
    }

    .social-icon {
        @extend .img-highlight-hover;
        width: 5vh;
        height: auto;
        filter: drop-shadow($shadow);
    }

    // Scroll behaviour
    &.scrolled {
        background: rgba($highlight-primary, 0.8);

        // Collapse & restructure on mobile
        @media screen and (max-width: $breakpoint-tablet) {
            #logo {
                height: 5vh !important;
            }

            #socials, #logo-text {
                display: none;
            }

            #site-links {
                order: 2;
                flex: 1;
    
                a {
                    font-size: 1.5rem;
                }
            }
        }
    }

    // Desktop layout
    @media screen and (min-width: $breakpoint-tablet) {
        flex-wrap: nowrap;

        #socials {
            order: 3;

            img {
                width: 4vmin;
            }
        }

        #logo-link {
            #logo-text {
                height: 4vmin;
            }
        }


        #site-links {
            order: 2;

            a {
                font-size: 4vmin;
            }
        }
    }
}

.post {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 4vh;
    max-width: 140vh;
}