---
# Needs front matter to be compiled
---

$baseurl: "{{ site.baseurl }}";

@import "themes/primary";
@import "general";
@import "components/navbar";
@import "pages/homepage";
@import "pages/blog";
@import "pages/project";

* {
    padding: 0;
    margin: 0;
}

body {
    background: $bg-image;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: $primary-font;
}

#content {
    height: 100%;
    width: 100%;
}
