nav {
    // Position
    position: sticky;
    top: 0;
    z-index: 1;
    top: -1px; // HACK: For Intersection Observer

    // Style
    background: rgba(255, 255, 255, 0.08);
    color: white;
    transition: background ease-in-out 0.4s, height ease-in-out 0.4s, padding ease-in-out 0.3s;

    // Layout
    --padding: min(1.1rem, 3vh);

    width: 100%;
    padding: var(--padding);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    #logo-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vh;

        order: 1;

        #logo-text {
            height: min(3.5vh, 1.5rem);
        }

        #logo {
            height: min(6vmin, 3.5rem);
            transition: height ease-in-out .5s;
        }
    }

    #site-links {
        width: 100%;
        order: 3;

        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;

        > a {
            color: white;
            text-decoration: none;
            --link-padding-x: 3vw;
            padding: var(--padding) var(--link-padding-x);
            margin: calc(-1 * var(--padding)) 0;
            box-sizing: border-box;
            font-size: 1.8rem;
            transition: background ease-in-out 0.3s;

            &:hover {
                background: rgba(255, 255, 255, 0.15);
            }

            > .link-inner {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
            }
        }

        .active::after {
            display: block;
            content: "";
            background: $highlight-secondary;
            height: 3px;
            border-radius: 3px;
            width: calc(100% + 2 * var(--link-padding-x));
            margin-left: calc(-1 * var(--link-padding-x));
            margin-right: calc(-1 * var(--link-padding-x));
            margin-top: calc(var(--padding) - 1px);
            transition: 0.3s all ease-in-out;
        }
    }

    #socials {
        order: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: clamp(1rem, 3.5vw, 2rem);
    }

    .social-icon {
        @extend .img-highlight-hover;
        width: clamp(5vw, 5vh, 2.5rem);
        height: auto;
        filter: drop-shadow($shadow);
    }

    // Scroll behaviour
    &.scrolled {
        background: rgba($highlight-primary, 0.8);

        // Collapse & restructure on mobile
        @media screen and (max-width: $breakpoint-tablet) {
            #logo {
                height: min(5vh, 3rem) !important;
            }

            #socials, #logo-text {
                display: none;
            }

            #site-links {
                order: 2;
                flex: 1;
    
                a {
                    font-size: 1.5rem;
                }
            }
        }

        // Shrink slightly on desktop
        @media screen and (min-width: $breakpoint-tablet) {
            --padding: 1.2vh;
            padding: var(--padding) 3vh;
        }
    }

    // Desktop layout
    @media screen and (min-width: $breakpoint-tablet) {
        flex-wrap: nowrap;

        #socials {
            order: 3;
            gap: 2vw;

            img {
                width: min(4vmin, 2rem);
            }
        }

        #logo-link {
            #logo-text {
                height: min(4vmin, 2rem);
            }
        }


        #site-links {
            order: 2;

            a {
                font-size: min(4vmin, 2rem);
            }
        }
    }
}